.card {
    width: 100px;
}

.playerCard {
    cursor: pointer;
    transition: .5s;
    border: 1px solid transparent;
    border-radius: 5px;
}

.playerCard:hover {
    border-color: blue;
    transform: translateY(-10px);
    box-shadow: 13px 10px 4px -7px rgba(0,0,0,0.1);
}