.app {
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-track:vertical {
  border-left: 1px solid transparent;
}